.parallax-container {
 width: 100%;
 height: 100%;
 overflow: hidden;
}

.paralax-cube {
    display: block;
    background: white;
    opacity: 0.97;
    box-shadow: 0px 0px 30px white;
    border-radius: 5px;
    z-index: 1;

    transition: all 0.3s ease;

    &.big {
        width: 120px;
        height: 120px;
    }
    &.middle {
        width: 45px;
        height: 45px;
    }

    &.small {
        width: 30px;
        height: 30px;
    }

    &.tiny {
        width: 20px;
        height: 20px;
    }
}