  <section class="block">
    <div class="parallax-container">
      <span parallaxItem [top]="'10%'" [left]="'5%'"><span class="paralax-cube tiny"></span></span>
      <span parallaxItem [top]="'75%'" [left]="'4%'" [rotate]="'10'"><span class="paralax-cube middle"></span></span>
      <span parallaxItem [top]="'16%'" [left]="'24%'" [rotate]="'35'"><span class="paralax-cube small"></span></span>
      <span parallaxItem [top]="'-15px'" [left]="'64%'" [rotate]="'45'"><span class="paralax-cube middle"></span></span>
      <span parallaxItem [top]="'25%'" [left]="'84%'" [rotate]="'65'"><span class="paralax-cube middle"></span></span>
    </div>
  </section>