<section class="block">
  <p class="text">move mouse</p>
	<div class="parallax-container">
		<ng-container *ngFor="let item of parallax_item">
			<ng-container [ngSwitch]="item.size">
				<ng-template ngSwitchCase="tiny">
					<span
          parallaxItem
          [top]="item.top"
          [left]="item.left"
          [rotate]="item.rotate"
          [inversion]="item.inversion"
          [opacity]="item.opacity"
          [movement]="item.movement"
          ><span class="paralax-cube tiny"></span></span>
				</ng-template>
				<ng-template ngSwitchCase="small">
					<span
          parallaxItem
          [top]="item.top"
          [left]="item.left"
          [rotate]="item.rotate"
          [inversion]="item.inversion"
          [opacity]="item.opacity"
          [movement]="item.movement"
          ><span class="paralax-cube small"></span></span>
				</ng-template>
				<ng-template ngSwitchCase="middle">
					<span
          parallaxItem
          [top]="item.top"
          [left]="item.left"
          [rotate]="item.rotate"
          [inversion]="item.inversion"
          [opacity]="item.opacity"
          [movement]="item.movement"
          ><span class="paralax-cube middle"></span></span>
				</ng-template>
				<ng-template ngSwitchCase="big">
					<span
          parallaxItem
          [top]="item.top"
          [left]="item.left"
          [rotate]="item.rotate"
          [inversion]="item.inversion"
          [opacity]="item.opacity"
          [movement]="item.movement"
          ><span class="paralax-cube big"></span></span>
				</ng-template>
				<ng-template ngSwitchDefault>loading</ng-template>
			</ng-container>
		</ng-container>
	</div>
</section>